.container {
    width: 750px;
    height: 500px;
    margin: 50px auto;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    border-radius: 7px;
    padding: 50px;
    margin-bottom: 20px;
}
    /*style kolom kiri*/
.kiri {
    width: 400px;
    float: left;
}
    /*style kolom kanan*/
.kanan {
    width: 270px;
    float: right;
}
    /*style text*/
.f1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 35px;
}
.f2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: rgb(117, 116, 116);
    margin-bottom: 20px;
    margin-left: 11px;
    margin-top: 5px;
}
.f3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #2b7cf5;
    margin-bottom: 50px;
}
.f4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    /* text-align: center; */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7e8288;
    

}

#f5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #2b7cf5;
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-right: 16px;
    /* margin-bottom: 50px; */
}


.f6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border-color: #2b7cf5;
    border: none;
    width: 79px;
    height: 36px;
    background-color: #2b7cf5;

}


    /*style input*/

.inputForm {
    width: 165px;
    height: 12px;
    padding: 12px;
    margin-right: 6px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    box-sizing: inherit;
    display: inline-block;
    font-size: 12pt;

}    

input {
    width: 160px;
    height: 12px;
    padding: 12px;
    margin-right: 6px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    box-sizing: inherit;
    display: inline-block;
    font-size: 12pt;
}

.checkbox {
    width: 25px;
    margin-right: 15px;
    transform: scale(1.6);
}

.showPassword {
    color: #4d5153;
    font-size: 12pt;
}
.atas {
    margin-bottom: 30px;
}
.img2 {
    position: relative;
    top: 90px;
    left: 20px;
    margin-bottom: 100px;
    width: 210px;
    height: 260px;
    /* padding: 10px; */
    /* margin-left: 40px; */
}

#bahasa {
    border: none;
    background-color: white;
    margin-left: 330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.navbar-f1{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-right: 490px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.navbar-f2{
    display: block;
    padding: 13px;
    white-space: nowrap;
    color: #999da2;
    text-decoration: none;
}