@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/bento');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    background-size: cover;
    margin: 0;
}

.order-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    /* background-color: #fff; */
    /* background-color: cyan; */
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.order-form h1 {
    text-align: center;
    font-family: 'BENTO', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0px 10px 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px;
    box-shadow: 0px 10px 63px 6px rgba(0, 0, 0, 0.1);
}

button {
    /* background-color: #4caf50; */
    background-color: #EC3030;
    width: 420px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* svg {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    right: 120px;
    top: 200px;
    opacity: 0.2;
} */

.order-item {
    /* border: 1px solid #ccc; */
    border-bottom: 1px solid #4D4D4D;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    /* padding-right: 70px; */
}

.order-item .totalSemuaHargaOrder {
    padding-left: 80px;
    padding-right: 20px;

}

.order-item .titleOrderItem {
    /* background-color: transparent; */
    width: 200px;
    text-align: justify;
    margin-right: 0px;
    /* padding-right: 10px; */
}


.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    backdrop-filter: blur(5px);
    /* Memberikan efek blur pada latar belakang */
}

.popup-item {
    margin-bottom: 15px;
}

.popup-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.popup-item .titlePopUp {
    /* background-color: #4caf50; */
    width: 120px;
    text-align: justify;
    padding-right: 20px;
}


.popup-item .totalItemQtyPopUp {
    padding-right: 40px;
}


img {
    /* height: 200px; */
    width: 20%;
}

/* .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.img-form {
    width: auto;
    height: auto;
}

.img-center {
    position: relative;
    width: 25%;
    margin-top: 10%;
    /* float: right;
    left: 60%; */
    float: right;
    /* border-bottom: 1px solid; */
    border-radius: 20px;
    /* box-shadow: 120px 19px 44px 21px rgba(0, 0, 0, 0.1); */
}



.totalSemuaHargaPopUp {
    color: #4caf50;
    text-align: left;
}

.popup-item-img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

/* Style tambahan untuk menutup pop-up saat di-klik */
/* .popup-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
} */



body {
    background-color: #FFF;
    /* overflow: hidden; */
    /* Agar halaman tidak dapat di-scroll ketika pop-up muncul */
}

.svg-icon-order {
    position: relative;
    float: left;
    left: 7%;
    top: 450px;

}