@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/bento');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    color: #000000;
    background-color: #FFFEFB;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-family: 'BENTO', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0vw;
    padding: 0.5vw;
    display: block;
    float: right;
    margin-right: 90px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1.2vw;
    color: #4D4D4D;
}

nav ul li a:hover {
    display: block;
    color: #EC3030;
    border-bottom: 0.5px solid #EC3030;
}

nav ul li .dropdown {
    display: none;

}

nav ul li:hover .dropdown {
    display: block;
    /* background-color: #12151e; */
    background-color: #FFFEFB;
    position: absolute;
    padding: 10px;
}

nav ul li:hover .dropdown li {
    display: block;
}

nav ul li:hover .dropdown li a {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

nav ul li:hover .dropdown li a:hover {
    color: #FFFEFB;
    background-color: #EC3030;
    box-shadow: inset 0px 0px 5px #EC3030;
}

a {
    text-decoration: none;
}

section {
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    justify-content: space-between; */
    color: #000000;
    background-color: #FFFEFB;
}

section {
    width: 100vw;
    /* background-color: #EC3030; */
}

.text-slider {
    width: 50vw;
    /* background-color: aqua; */
    float: left;
    margin: 90px;
    margin-top: 70px;
}

.text-slider h1 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.slider {
    margin-top: 50px;
}

.btn-slider {
    display: flex;
    align-items: center;
}

.btn-explore,
.btn-play-video {
    cursor: pointer;
}

.btn-explore {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-color: #EC3030;
    border-width: 1px;
    color: #FFFEFB;
    background-color: #EC3030;
}

.btn-explore:hover {
    color: #EC3030;
    background-color: #FFFEFB;
}

.btn-login {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border-color: #EC3030;
    border-width: 1px;
    color: #EC3030;
    background-color: transparent;
    cursor: pointer;
}

.btn-login:hover {
    border-color: #EC3030;
    border-width: 1px;
    color: #FFFEFB;
    background-color: #EC3030;
    cursor: pointer;
}

.btn-cart {
    font-size: 14px;
    margin-top: 0px;
    /* margin-right: 20px; */
    width: 90px;
    height: 40px;
    border-radius: 10px;
    /* border-color: #1e0808; */
    border: none;
    border-width: 1px;
    color: #EC3030;
    background-color: transparent;
    cursor: pointer;
}

.btn-cart:hover {
    /* border-color: #EC3030; */
    border-width: 1px;
    color: #EC3030;
    /* background-color: #EC3030; */
    cursor: pointer;
}


.btn-play-video {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #EC3030;
}

.container-2 {
    display: flex;
}

/* start slider 2 */

.text-slider2 h1 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.text-slider2 {
    width: 50vw;
    /* background-color: aqua; */
    float: right;
    margin: 50px;
    margin-top: 100px;
    /* margin-top: 150px; */
}

.slider-2 {
    margin-left: 60px;
}

.text-small-slider2 {
    font-size: 18px;
    color: #EC3030;
}

.text-title-slider2 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.btn-article-1 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotateX('');
}

.btn-slider2 img {
    width: 5vw;
}

.btn-slider2 img:hover {
    transform: rotate(20deg);
}

/* end slider 2 */

.text-slider3 {
    width: 50vw;
    /* background-color: aqua; */
    float: left;
    margin: 90px;
    margin-top: 70px;
}

.slider-3 {
    /* margin-left: 60px; */
    padding-left: 50vw;
}

.text-small-slider3 {
    font-size: 18px;
    color: #EC3030;
}

.text-title-slider3 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
    margin: 0px;
    /* margin-top: 70px; */
}

.btn-article-2 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotateX('');
}

.btn-slider3 img {
    width: 5vw;
}

.btn-slider3 img:hover {
    transform: rotate(-20deg);
}

/* end slider 3 */

.text-slider4 h1 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.text-slider4 {
    width: 50vw;
    /* background-color: aqua; */
    float: right;
    margin: 50px;
    margin-top: 100px;
    /* margin-top: 150px; */
}

.slider-4 {
    margin-left: 60px;
}

.text-small-slider4 {
    font-size: 18px;
    color: #EC3030;
}

.text-title-slider4 {
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.btn-article-4 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotateX('');
}

.btn-slider4 img {
    width: 5vw;
}

.btn-slider4 img:hover {
    transform: rotate(20deg);
}

.text-slider5 {
    width: 90vw;
    /* background-color: aqua; */
    margin: 50px;
    margin-top: 100px;
    /* margin-top: 150px; */
}

.text-small-slider5 {
    text-align: center;
    font-size: 18px;
    color: #EC3030;
}

.text-title-slider5 {
    text-align: center;
    font-family: 'BENTO', sans-serif;
    font-size: 4rem;
}

.text-slider7 {
    width: 90vw;
    /* background-color: aqua; */
    margin: 50px;
    margin-top: 100px;
    /* margin-top: 150px; */
}

.text-small-slider7 {
    text-align: center;
    font-size: 18px;
    color: #EC3030;
}

.subscription {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.subscription input {
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

.btn-slider-subs {
    display: flex;
    align-items: center;
}


.btn-explore-subs {
    font-size: 14px;
    /* margin-top: 20px; */
    /* margin-right: 20px; */
    margin-left: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-color: #EC3030;
    color: #FFFEFB;
    background-color: #EC3030;
    cursor: pointer;
}

.text-title-slider7 {
    text-align: center;
    font-family: 'BENTO', sans-serif;
    font-size: 2.5rem;
}

.text-about-title-footer {
    font-family: 'BENTO', sans-serif;
    font-size: 2rem;
}

.text-about-small-footer {
    font-size: 20px;
    color: #EC3030;
}



/* css menu */
.container-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* padding: 50px;
    gap: 50px; */
    padding: 2.5vw;
    gap: 50px;
    /* background-color: aqua; */
}

.box {
    /* width: 300px;
    height: 400px; */
    width: 20vw;
    /* background-color: aqua; */
    height: 27vw;
    /* box-shadow: 1px 1px 0px rgba(0,0,0,0.1); */
    /* box-shadow: 19px 11px 15px -3px rgba(0,0,0,0.1); */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.slide-img {
    /* height: 300px; */
    height: 20vw;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    padding: 1vw;
    border-radius: 10%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box a {
    text-decoration: none;
}

.detail-box {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    /* padding: 10px 20px; */
    padding: 0.5vw 1vw;
    box-sizing: border-box;
}

.type a {
    color: #000000;
    font-size: 1.5vw;
}

.price {
    font-size: 1vw;
}

.rating .checked {
    color: orange;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* background-color: rgba(92, 95, 236, 0.6); */
    background-color: rgba(48, 56, 83, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFEFB;
    color: #EC3030;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 2);
}


.overlay-buy-btn:hover {
    color: #FFFEFB;
    background-color: #EC3030;
    transition: all ease 0.3s;
}

.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

.container-footer {
    /* background-color: aqua; */
    background-color: #f6f9f2;
    width: 100%;
    height: 100%;
    display: flex;
}

.about {
    padding: 50px;
    padding-left: 90px;
    width: 40%;
}

.about svg {
    /* padding: 10px; */
    padding-right: 30px;
    padding-top: 20px;
    cursor: pointer;
}

.text-about-description-footer {
    padding-top: 20px;
    font-size: 16px;
}

.list-menu-footer {
    display: flex;
}

.list-our-menu {
    padding: 30px;
}

.list-our-menu h2 {
    font-size: 20px;
    padding-left: 39px;
}

.ul-footer {
    list-style-type: none;
}

.ul-footer li {
    margin-bottom: 25px;
}

.ul-footer li a {
    color: #000000;
}


.svg-icon-home-1 {
    position: absolute;
    right: 15%;
    top: 115%;
    width: 30%;
    opacity: 0.1;

}

.svg-icon-home-2 {
    position: absolute;
    left: 15%;
    top: 200%;
    width: auto;
    opacity: 0.1;

}

.svg-icon-home-3 {
    position: absolute;
    right: 1%;
    top: 280%;
    width: 30%;
    opacity: 0.1;
    transform: rotate(-20deg);

}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {}
}