@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/bento');
@import url('https://fonts.cdnfonts.com/css/nuku-nuku');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.MizarIsmuArief_container {
    position: relative;
    min-height: 100vh;
    /* background-color: aliceblue; */
    background-color: #FFFEFB;
}

.MizarIsmuArief_container h1 {
    font-size: 40px;
    /* font-family: 'BENTO', sans-serif; */
    font-family: 'Nuku Nuku', sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #EC3030;
    text-align: center;
    text-transform: capitalize;
}

.MizarIsmuArief_container .MizarIsmuArief_image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.MizarIsmuArief_container .MizarIsmuArief_image-container .MizarIsmuArief_image {
    height: 250px;
    width: 350px;
    /* border: 10px solid #fff; */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 1); */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.MizarIsmuArief_container .MizarIsmuArief_image-container .MizarIsmuArief_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.MizarIsmuArief_container .MizarIsmuArief_image-container .MizarIsmuArief_image:hover img {
    transform: scale(1.1);
}

.MizarIsmuArief_container .MizarIsmuArief_popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.MizarIsmuArief_container .MizarIsmuArief_popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.MizarIsmuArief_container .MizarIsmuArief_popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #fff; */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 700px;
    object-fit: cover;
}

.MizarIsmuArief-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MizarIsmuArief-buttons ul {
    margin: 0vw;
    padding: 0.5vw;
    display: block;
    float: right;
    margin-right: 90px;
}

.MizarIsmuArief-buttons ul li {
    list-style: none;
    display: inline-block;
}

.MizarIsmuArief-buttons ul li a {
    display: block;
    text-decoration: none;
    padding: 1.2vw;
    color: #4D4D4D;
}

.MizarIsmuArief-buttons ul li a:hover {
    display: block;
    color: #EC3030;
    border-bottom: 0.5px solid #EC3030;
}

.MizarIsmuArief-buttons ul li .dropdown {
    display: none;

}

.MizarIsmuArief-buttons ul li:hover .dropdown {
    display: block;
    /* background-color: #12151e; */
    /* background-color: #FFFEFB; */
    background-color: #FFFEFB;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.MizarIsmuArief-buttons ul li:hover .dropdown li {
    display: block;
}

.MizarIsmuArief-buttons ul li:hover .dropdown li a {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.MizarIsmuArief-buttons ul li:hover .dropdown li a:hover {
    color: #FFFEFB;
    background-color: #EC3030;
    box-shadow: inset 0px 0px 5px #EC3030;
}

button {
    border: none;
    background-color: transparent;
    color: #4D4D4D;
    cursor: pointer;
}

button:hover {
    color: #EC3030;
    border-bottom: 1px solid #EC3030;
}

/* li .gallery-home {} */


/* 
.MizarIsmuArief-buttons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.MizarIsmuArief-buttons ul li {
    display: inline-block;
    margin-right: 10px;
} */






@media (max-width:768px) {
    .MizarIsmuArief_container .MizarIsmuArief_popup-image img {
        width: 90%;
    }
}